Source: unipi-one
Section: python
Priority: optional
Maintainer: Miroslav Ondra <ondra@unipi.technology>
Build-Depends: debhelper-compat (= 13), dh-python, debhelper (>= 13), python3-all, python3.11-dev, dh-virtualenv (>= 1.2), dh-exec
Standards-Version: 3.9.5
Homepage: http://www.unipi.technology
Vcs-Git: https://github.com/UniPiTechnology/unipi-one.git
Vcs-Browser: https://github.com/UniPiTechnology/unipi-one/

Package: unipi-one
Architecture: any
Depends: ${misc:Depends}, python3 (>= 3.11~), libiio0
Recommends: unipi-os-configurator
Description: Unipi Modbus server for Unipi 1.x/Lite device
