[Unit]
Description=Unipi 1.x ModBus Server
before=evok.service
After=pigpiod.service
StartLimitIntervalSec=300

[Service]
Type=simple
ExecStart=/opt/unipi-one/bin/unipi-one -l
TimeoutStopSec=3
#SyslogLevel=debug
SyslogIdentifier=unipi-one
#StandardOutput=null
WorkingDirectory=/opt/evok

Restart=always

[Install]
WantedBy=multi-user.target
