[Unit]
Description=Unipi 1.x ModBus Server
Before=evok.service
After=pigpiod.service
StartLimitIntervalSec=300

[Service]
Type=simple
ExecStart=/opt/unipi-one/bin/unipi-one -l
TimeoutStopSec=3
WorkingDirectory=/opt/unipi-one
User=root
Restart=always

[Install]
WantedBy=multi-user.target
